# emacs cache and built packages
emacs/.emacs.d/*
emacs/.config
!emacs/emacs.d/init.el
!emacs/emacs.d/transient
!emacs/emacs.d/snippets

# pulse audio settings
pulse/.config/pulse/*
!pulse/.config/pulse/presets